[package]
name = "surway"
version = "0.1.0"
authors = ["Tor Hovland <tor.hovland@bekk.no>"]
edition = "2018"

[dependencies]
cfg-if = "1.0.0"
console_log = { version = "0.2.0", features = ["color"] }
leaflet = "0.1.2"
log = "0.4.14"
quick-xml = { version = "0.22.0", features = ["serialize"] }
seed = "0.8.0"
serde = "1.0.124"

[dev-dependencies]
assert_approx_eq = "1.1.0"

[profile.release]
lto = true
codegen-units = 1
opt-level = "s"

[profile.dev.package."*"]
opt-level = 3

[profile.dev]
opt-level = 1
