html,
body {
    margin: 0;
    font-family: "Noto Sans JP", apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
        sans-serif !important;
}

img.leaflet-tile {
    filter: saturate(25%);
}

ul {
    margin: 0;
}

textarea {
    flex: 1;
}

#app {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#map {
    flex-grow: 1;
}

.button-row {
    border: 0;
}

.way-info {
    flex-grow: 0;
    max-height: 50%;
    margin-top: 0.5rem;
    padding: 0 1rem;
    color: white;
}

.flex-list {
    display: flex;
    flex-wrap: wrap;
}

.flex-list div {
    margin-right: 1rem;
}

.icon {
    height: 1rem;
}

.modal {
    z-index: 1000 !important; // On top of Leaflet
}

.modal-container {
    height: 100%;
}

.modal-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.icon-control-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.icon-control-container-enabled {
    background-color: orange;
}

.icon-control {
    width: 80%;
}
