html,
body {
    margin: 0;
}

img.leaflet-tile {
    filter: saturate(25%);
}

ul {
    margin: 0;
}

#app {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 20px;
    line-height: 30px;
}

#map {
    flex-grow: 1;
}

.button-row {
    border: 0;
}

.way-info {
    flex-grow: 0;
    max-height: 50%;
    margin-top: 0.5rem;
    padding: 0 1rem;
    color: white;
}

.flex-list {
    display: flex;
    flex-wrap: wrap;
}

.flex-list div {
    margin-right: 1rem;
}

.icon {
    height: 1rem;
}

.modal {
    z-index: 1000 !important; // On top of Leaflet
}

.modal-container {
    height: 100%;
}

textarea {
    flex: 1;
}

// Landscape
@media (min-aspect-ratio: 1/1) {
    .content {
        font-size: 16px;
        line-height: 24px;
    }
}
